# HuggingFace Token for checking Space logs (Required for scripts)
# Also used as fallback for backend if CCBELL_HF_TOKEN is not set
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# HuggingFace Token for App (Required for downloading gated models in backend)
# You can use the same token as above.
CCBELL_HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# GitHub Token for publishing releases (Optional)
CCBELL_GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
